{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!--suppress XmlDuplicatedId -->
    <main class="building">
        <section class="room">
            <div class="room-walls container-fluid">
                <h1 class="room-title" id="anchor1">карнизы</h1>
                 <div class="carousel carousel-dark">
                    <figure>
                        {% for el in cornice %}
                            <div>
                                <label>
                                    <input type="checkbox" data-bs-toggle="collapse" role="button" data-bs-target="#cornice{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                    <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}">
                                    <div class="it-ok" id="it-ok{{ el.id }}">
                                        <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                        </svg>
                                    </div>
                                </label>
                                <div class="collapse" id="cornice{{ el.id }}">
                                    <div class="input-group input-group-sm mt-2">
                                        <span class="input-group-text">пог.м</span>
                                        <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                        <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                        <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="room-walls container-fluid">
                <h1 class="room-title" id="anchor2">профиль</h1>
                <div class="carousel carousel-dark">
                    <figure>
                        {% for el in profile %}
                            <div>
                                <label>
                                    <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#profile{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                    <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    <div class="it-ok" id="it-ok{{ el.id }}">
                                        <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                        </svg>
                                    </div>
                                </label>
                                <div class="collapse" id="profile{{ el.id }}">
                                    <div class="input-group input-group-sm mt-2">
                                        <span class="input-group-text">пог.м</span>
                                        <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                        <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                        <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="room-walls container-fluid" id="content-tab">
                <h1 class="room-title" id="anchor3">оcвещение</h1>
                <div class="light-menu">
                    <nav class="tabs">
                        <div class="selector"></div>
                        <a name="tab1" class="active"><i class="fab fa-superpowers"></i>люстры</a>
                        <a name="tab2"><i class="fab fa-hubspot"></i>треки и споты</a>
                        <a name="tab3"><i class="far fa-lightbulb"></i>свет и точечные</a>
                        <a name="tab4"><i class="fas fa-solar-panel"></i>LED-панели</a>
                        <a name="tab5"><i class="fas fa-adjust"></i>LED-ленты</a>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab1">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'CHANDELIER' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#chandelier{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                        <div class="it-ok" id="it-ok{{ el.id }}">
                                            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="collapse" id="chandelier{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab2">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'TRACK_AND_SPOT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#track-and-spot{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                        <div class="it-ok" id="it-ok{{ el.id }}">
                                            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="collapse" id="track-and-spot{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab3">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LEDLAMP_AND_POINT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#ledlamp-and-point{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                        <div class="it-ok" id="it-ok{{ el.id }}">
                                            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="collapse" id="ledlamp-and-point{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab4">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LEDPANEL' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#ledpanel{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                        <div class="it-ok" id="it-ok{{ el.id }}">
                                            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="collapse" id="ledpanel{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab5">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LED_STRIP_LIGHT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#led-strip-light{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                        <div class="it-ok" id="it-ok{{ el.id }}">
                                            <svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" stroke="#3da35a" fill="transparent"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="collapse" id="led-strip-light{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <img class="img-fluid prev" aria-hidden="true" src="{% static 'main/img/switch_button_left.png' %}">
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <img class="img-fluid next" aria-hidden="true" src="{% static 'main/img/switch_button_right.png' %}">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="container-fluid room-walls">
                <h1 class="room-title" id="anchor4">корзина</h1>
                <div class="flipcard">
                    <div class="shopping-cart">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Фото</th>
                                    <th scope="col" class="text-center">Название</th>
                                    <th scope="col" class="text-center">Колличество</th>
                                    <th scope="col" class="text-center">Удалить</th>
                                    <th scope="col" class="text-center">Цена</th>
                                    <th scope="col" class="text-center">Всего</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr id="tr{{ product.id }}">
                                            <td class="text-center">
                                                <img class="img-fluid" src="{{ product.foto.url }}">
                                            </td>
                                            <td class="text-center">{{ item.name }}</td>
                                            <td class="text-center">{{ item.quantity }}</td>
                                            <td class="text-center"><a type="button" name="remove-{{ product.id }}"><i class="fas fa-trash"></i></a></td>
                                            <td class="text-center">{{ item.price }} BYN</td>
                                            <td class="text-center">{{ item.total_price }} BYN</td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col">Всего:</th>
                                    <th scope="col" colspan="2" id="tfoot-total">{{ cart.get_total_price }} BYN</th>
                                    <th scope="col" colspan="2"></th>
                                    <th scope="col"><button type="button" class="btn btn-primary">Primary</button></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="shopping-cart-back">
                        <form>
                            <div class="form-floating mb-3">
                                <input required type="text" class="form-control" name="username"  id="floatingName" placeholder="name">
                                <label for="floatingName">Ваше имя</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input required type="tel" class="form-control" name="phone" minlength="12" maxlength="20" id="floatingPhone" placeholder="phone">
                                <label for="floatingPhone">Ваш номер телефона</label>
                            </div>
                            <button type="button" name="back" class="btn btn-secondary float-sm-start mb-3">back</button>
                            <button type="submit" name="send" class="btn btn-success float-sm-end mb-3">Send</button>
                        </form>
                    </div>
                </div>
                <div class="social-links" id="anchor5">
                    <ul>
                      <li>
                        <a href="tel:+375257046972">
                          <i class="fas fa-mobile"></i>
                        </a>
                      </li>
                      <li>
                        <a href="viber://chat?number=%2B375257046972">
                          <i class="fab fa-viber"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://t.me/Myceiling" target="_blank">
                          <i class="fab fa-telegram-plane"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/my.ceiling" target="_blank">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock %}