{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="building">
        <section class="room">
            <div class="room-walls container-fluid">
                <h1 class="room-text" id="anchor1">карнизы</h1>
                 <div class="carousel carousel-dark">
                    <figure>
                        {% for el in cornice %}
                            <div>
                                <label>
                                    <input type="checkbox" data-bs-toggle="collapse" role="button" data-bs-target="#cornice{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                    <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}">
                                </label>
                                <div class="collapse" id="cornice{{ el.id }}">
                                    <div class="input-group input-group-sm mt-2">
                                        <span class="input-group-text">пог.м</span>
                                        <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                        <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                        <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="room-walls container-fluid">
                <h1 class="room-text" id="anchor2">профиль</h1>
                <div class="carousel carousel-dark">
                    <figure>
                        {% for el in profile %}
                            <div>
                                <label>
                                    <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#profile{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                    <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                </label>
                                <div class="collapse" id="profile{{ el.id }}">
                                    <div class="input-group input-group-sm mt-2">
                                        <span class="input-group-text">пог.м</span>
                                        <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                        <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                        <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="room-walls container-fluid" id="content-tab">
                <h1 class="room-text" id="anchor3">оcвещение</h1>
                <div class="light-menu">
                    <nav class="tabs">
                        <div class="selector"></div>
                        <a name="tab1" class="active"><i class="fab fa-superpowers"></i>люстры</a>
                        <a name="tab2"><i class="fab fa-hubspot"></i>треки и споты</a>
                        <a name="tab3"><i class="far fa-lightbulb"></i>свет и точечные</a>
                        <a name="tab4"><i class="fas fa-solar-panel"></i>LED-панели</a>
                        <a name="tab5"><i class="fas fa-adjust"></i>LED-ленты</a>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab1">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'CHANDELIER' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#chandelier{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    </label>
                                    <div class="collapse" id="chandelier{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab2">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'TRACK_AND_SPOT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#track-and-spot{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    </label>
                                    <div class="collapse" id="track-and-spot{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab3">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LEDLAMP_AND_POINT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#ledlamp-and-point{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    </label>
                                    <div class="collapse" id="ledlamp-and-point{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab4">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LEDPANEL' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#ledpanel{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    </label>
                                    <div class="collapse" id="ledpanel{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
                <div class="carousel carousel-dark" id="tab5">
                    <figure>
                        {% for el in light %}
                            {% if el.type_light == 'LED_STRIP_LIGHT' %}
                                <div>
                                    <label>
                                        <input type="checkbox" data-bs-toggle="collapse" data-bs-target="#led-strip-light{{ el.id }}" aria-expanded="false" name="box-{{ el.id }}" value="{{ el.price }}">
                                        <img class="img-fluid" name="img-{{ el.id }}" src="{{ el.foto.url }}" alt=""/>
                                    </label>
                                    <div class="collapse" id="led-strip-light{{ el.id }}">
                                        <div class="input-group input-group-sm mt-2">
                                            <span class="input-group-text">штук</span>
                                            <input type="number" class="form-control text-center" name="clg-{{ el.id }}" min="1" max="100" value="1">
                                            <span class="input-group-text" id="clg-out{{ el.id }}">{{ el.price }} BYN</span>
                                            <button class="btn btn-success" type="button" name="add-{{ el.id }}">add to card</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <nav>
                        <button class="carousel-control-prev" type="button">
                            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                            <span class="visually-hidden">Prev</span>
                        </button>
                        <button class="carousel-control-next" type="button">
                            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </nav>
                </div>
            </div>
        </section>
        <section class="room">
            <div class="container-fluid room-walls">
                <h1 class="room-text" id="anchor4">корзина</h1>
                <div class="shopping-cart">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Remove</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr id="tr{{ product.id }}">
                                        <td>
                                            <img class="img-fluid" src="{{ product.foto.url }}">
                                        </td>
                                        <td>name</td>
                                        <td>{{ item.quantity }}</td>
                                        <td><a type="button" name="remove-{{ product.id }}"><i class="fas fa-trash"></i></a></td>
                                        <td>{{ item.price }} BYN</td>
                                        <td>{{ item.total_price }} BYN</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col">Total</th>
                                <th scope="col" colspan="4"></th>
                                <th scope="col" id="tfoot-total">{{ cart.get_total_price }} BYN</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <script>
        let csrftoken = '{{ csrf_token }}'; let url = "{% url 'home' %}";
    </script>
    <script src="{% static 'main/js/shopping-cart.js' %}"></script>
    <script src="{% static 'main/js/carousel.js' %}"></script>
    <script src="{% static 'main/js/check_price.js' %}"></script>
    <script src="{% static 'main/js/tabs.js' %}"></script>
{% endblock %}